//// VARIABLES
// Colors
$primary-color: #3a7bfd;
$background-color: linear-gradient(#57ddff 0%, #c058f3 100%);

$very-light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue: hsl(233, 11%, 84%);
$dark-grayish-blue: hsl(236, 9%, 61%);
$very-dark-grayish-blue: hsl(235, 19%, 35%);
$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);

// Font
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

// Theme
body {
    --bgImage: url("../assets/img/bg-desktop-light.jpg");
}
body.dark-theme {
    --bgImage: url("../assets/img/bg-desktop-dark.jpg");
    background: $very-dark-blue;

    .content {
        &__box {
            background: $very-dark-desaturated-blue;
            box-shadow: 1px 5px 10px 1px $very-dark-blue;

            &-list {
                &-item {
                    background: $very-dark-desaturated-blue;
                    color: $light-grayish-blue;
                    border-bottom: 1px solid $very-dark-grayish-blue;
                }
            }
        }
    }

    .done {
        color: $dark-grayish-blue;
    }

    .check {
        border: 0;
    }

    .header__add-item input {
        background: $very-dark-desaturated-blue;
        color: $dark-grayish-blue;

        &:focus {
            box-shadow: 2px 2px 5px $very-dark-blue !important;
        }
    }
}

// Styles
* {
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    background-image: var(--bgImage);
    padding: 2em 2em;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            letter-spacing: .25em;
            color: #fff;
        }
    }

    &__icon {
        cursor: pointer;
    }

    &__add-item {
        margin: 2em 0;

        input {
            width: 100%;
            padding: 15px;
            box-sizing: border-box;
            border: 0;
            border-radius: 5px;

            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px $light-grayish-blue;
            }
        }
    }
}

.section {
    margin: 0 2em;
}

.content {
    &__box {
        border-radius: 5px;
        background: white;
        box-shadow: 1px 5px 10px 1px $very-light-grayish-blue;

        &-list {
            margin-top: -1rem;

            &-item {
                cursor: pointer;
                position: relative;
                padding: 1.5rem 2rem;
                border-bottom: 1px solid $very-light-grayish-blue;
                box-sizing: border-box;
                background: white;
                display: flex;
                align-items: center;

                &:first-child {
                    border-radius: 5px 5px 0 0;
                }
                &:last-child {
                    border-radius: 0 0 5px 5px;
                }
            }

            &-bottom {
                display: flex;
                justify-content: space-between;
                padding: 0 2rem;
                font-size: .9rem;
                color: $dark-grayish-blue;

                &-remove {
                    cursor: pointer;
                }
            }
        }

        &-nav {
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding: 15px;
            margin-top: 1rem;

            span {
                cursor: pointer;
                font-weight: 600;
                color: $dark-grayish-blue;
            }
        }
    }
}

.todo {
    &__label {
        &-done {
            text-decoration: line-through;
        }
    }
    &__checkbox {
        &-done {
            background: $background-color;

            svg {
                margin-top: 5px;
            }
        }
    }
}

.footer {
    text-align: center;
    color: gray;
    margin: 3rem auto !important;
}

// Drag&Drop
/* hide the browser's default checkbox */
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
/* create custom checkbox */
.check {
    position: absolute;
    height: 20px;
    width: 20px;
    //margin-top: -5px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    border: 1px solid $light-grayish-blue;
}
.remove {
    position: absolute;
    right: 2rem;
}
label {
    width: 80%;
    display: block;
    margin-left: 2.25rem;
    cursor: pointer;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
opacity: 0;
}
.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.content__box-list.cdk-drop-list-dragging .content__box-list-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

// Media queries
@media only screen and (min-width: 465px) {
    .content {
        max-width: 400px;
        margin: 0 auto;
    }
}